head,
body {
  margin: 0;
  font-family: "Segoe UI";
  font-size: medium;
}

table {
  border: 1px solid blue;
  border-collapse: collapse;
  width: auto;
  height: auto;
}

th,
td {
  padding: 15px;
  text-align: left;
}

h1 {
  text-align: center;
}